{% extends 'system/base.html' %}
{% load static %}
{% block body %}

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form method="POST" action="">
                {% csrf_token %}
                {{form.management_form}}
                {%for formset in form%}
                {{formset}}
                <hr>
                {%endfor%}
                <input type="submit" class="btn btn-success" name="submit" value="submit">
            </form>
        </div>
    </div>
</div>

{% endblock body %}